/*fonts*/
@font-face {
  font-family: "Aller-Bold";
  src: url("../../fonts/aller.bold.ttf"); }

@font-face {
  font-family: "Aller-Italic";
  src: url("../../fonts/aller.italic.ttf"); }

@font-face {
  font-family: "Aller-Regular";
  src: url("../../fonts/aller.regular.ttf"); }

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../../fonts/MyriadPro-Regular.ttf"); }

/*scss fonts*/
/*scss colors*/
/*Mixins*/
/*reset classes*/
.a, .ul, .li, .h1, .h2, .h3, .h4, .p, .img {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

.button {
  outline: 0;
  border: none;
  padding: 0;
  margin: 0; }

.img {
  display: block; }

/*css classes*/
.header-main {
  background-color: #242424; }

/*Search and registration*/
.header-main__black {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header-main__black__logo {
  color: #57c5a0;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 12px 0 13px 0; }

.header-main__black__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-main__black__wrapper__search {
  background-color: #242424;
  position: relative;
  border-left: 1px solid #393939;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-main__black__wrapper__search::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/header_search_icon.png");
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    right: 23px; }

.header-main__black__wrapper__search__ul {
  display: block;
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 1;
  max-width: 172px;
  width: 100%;
  opacity: 0; }

.header-main__black__wrapper__search__li {
  max-height: 32px;
  height: 100%;
  background-color: #4c4c4c;
  color: #aaaaaa;
  font-family: "MyriadPro-Regular", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 12px 0 11px 23px; }
  .header-main__black__wrapper__search__li:nth-child(2) {
    border-top: 1px solid #666464; }

.header-main__black__wrapper__search:hover .header-main__black__wrapper__search__ul {
  opacity: 1;
  -webkit-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s; }

.header-main__black__wrapper__search__input {
  max-width: 113px;
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #b1aeae;
  font-family: "MyriadPro-Regular", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 0 38px 0 17px; }
  .header-main__black__wrapper__search__input::-webkit-input-placeholder {
    color: #b1aeae;
    font-family: "MyriadPro-Regular", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1.2px; }
  .header-main__black__wrapper__search__input:-ms-input-placeholder {
    color: #b1aeae;
    font-family: "MyriadPro-Regular", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1.2px; }
  .header-main__black__wrapper__search__input::-ms-input-placeholder {
    color: #b1aeae;
    font-family: "MyriadPro-Regular", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1.2px; }
  .header-main__black__wrapper__search__input::placeholder {
    color: #b1aeae;
    font-family: "MyriadPro-Regular", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1.2px; }

.header-main__black__login {
  max-width: 140px;
  width: 100%;
  border-left: 1px solid #393939;
  border-right: 1px solid #393939;
  background-color: #242424;
  color: #7e7e7e;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 25px;
  cursor: pointer;
  padding: 0 21px; }

/*Tablet*/
@media screen and (max-width: 960px) {
  .header-main__black {
    max-width: 720px; }
  .header-main__black__wrapper__search {
    visibility: hidden; }
    .header-main__black__wrapper__search::before {
      visibility: visible; } }

/*Mobile*/
@media screen and (max-width: 720px) {
  .header-main__black {
    max-width: 320px; }
  .header-main__black__wrapper__search {
    display: none; }
  .header-main__black__login {
    padding: 0 12px; } }

/*Registration window*/
.hidden {
  display: none; }

.header-main__black__login-bar__curtain {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #4c4c4c;
  opacity: 0.5;
  z-index: 3; }

.header-main__black__login-bar__wrapper {
  width: 400px;
  height: 500px;
  position: fixed;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #efece7;
  border: 1px solid #242424;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  z-index: 4;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.header-main__black__login-bar__wrapper__close {
  display: block;
  background-image: url("../../images/icons/close_icon.png");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  position: absolute;
  top: -28px;
  right: 0;
  cursor: pointer; }

.header-main__black__login-bar__wrapper__title {
  color: #242424;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 60px;
  margin-bottom: 50px; }

.header-main__black__login-bar__username {
  max-width: 300px;
  width: 100%;
  max-height: 70px;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2e2e2e;
  border: 0;
  outline: 0;
  color: #ffffff;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  padding: 0 0 0 14px;
  margin-bottom: 30px; }
  .header-main__black__login-bar__username::-webkit-input-placeholder {
    color: #ffffff;
    font-family: "Aller-Regular", Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400; }
  .header-main__black__login-bar__username:-ms-input-placeholder {
    color: #ffffff;
    font-family: "Aller-Regular", Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400; }
  .header-main__black__login-bar__username::-ms-input-placeholder {
    color: #ffffff;
    font-family: "Aller-Regular", Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400; }
  .header-main__black__login-bar__username::placeholder {
    color: #ffffff;
    font-family: "Aller-Regular", Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400; }

.header-main__black__login-bar__password {
  max-width: 300px;
  width: 100%;
  max-height: 70px;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2e2e2e;
  border: 0;
  outline: 0;
  color: #ffffff;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  padding: 0 0 0 14px;
  margin-bottom: 30px; }
  .header-main__black__login-bar__password::-webkit-input-placeholder {
    color: #ffffff;
    font-family: "Aller-Regular", Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400; }
  .header-main__black__login-bar__password:-ms-input-placeholder {
    color: #ffffff;
    font-family: "Aller-Regular", Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400; }
  .header-main__black__login-bar__password::-ms-input-placeholder {
    color: #ffffff;
    font-family: "Aller-Regular", Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400; }
  .header-main__black__login-bar__password::placeholder {
    color: #ffffff;
    font-family: "Aller-Regular", Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400; }

.header-main__black__login-bar__login {
  max-width: 150px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  background-color: #7d7d7d;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border: 1px solid #242424;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px; }

.header-main__black__login-bar__registration {
  max-width: 150px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  background-color: #dfdbd4;
  color: #242424;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #242424; }

/*Mobile*/
@media screen and (max-width: 720px) {
  .header-main__black__login-bar__wrapper {
    width: 300px; }
  .header-main__black__login-bar__wrapper__title {
    text-align: center;
    font-size: 22px; } }

/*Main menu*/
.header-main__menu {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header-main__menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 555px;
  width: 100%; }

.header-main__menu__li {
  padding: 23px 23px 20px 23px;
  border-left: 1px solid #cccccc; }
  .header-main__menu__li:nth-child(1) {
    letter-spacing: 0.4px; }
  .header-main__menu__li:nth-child(6) {
    border-right: 1px solid #cccccc; }

.header-main__menu__a {
  color: #242424;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400; }
  .header-main__menu__a:hover {
    color: #57c5a0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .header-main__menu__a.active {
    color: #57c5a0; }

.header-main__menu__ul__mobile {
  display: none; }

.header-main__menu__counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-main__menu__counters__favorites {
  max-width: 90px;
  width: 100%;
  padding: 21px 24px 19px 46px;
  border-left: 1px solid #cccccc;
  cursor: pointer;
  position: relative; }
  .header-main__menu__counters__favorites::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/star_icon.png");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    position: absolute;
    top: 23px;
    left: 23px; }
  .header-main__menu__counters__favorites:hover::before {
    background-image: url("../../images/icons/star_icon_active.png");
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.header-main__menu__counters__text {
  min-width: 20px;
  max-height: 20px;
  height: 100%;
  color: #ffffff;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  background-color: #adadad;
  text-align: center;
  border-radius: 5px; }

.header-main__menu__counters__favorites:hover .header-main__menu__counters__text {
  background-color: #57c5a0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.header-main__menu__counters__cart {
  max-width: 90px;
  width: 100%;
  padding: 21px 24px 19px 46px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  cursor: pointer;
  position: relative; }
  .header-main__menu__counters__cart::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/cart_icon.png");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    position: absolute;
    top: 23px;
    left: 23px; }
  .header-main__menu__counters__cart:hover::before {
    background-image: url("../../images/icons/cart_icon_active.png");
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .header-main__menu__counters__cart .header-main__menu__counters__text {
    background-color: #adadad; }
  .header-main__menu__counters__cart:hover .header-main__menu__counters__text {
    background-color: #57c5a0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

/*Tablet*/
@media screen and (max-width: 960px) {
  .header-main__menu {
    max-width: 720px; }
  .header-main__menu__counters__favorites {
    border-left: none; }
  .header-main__menu__counters__cart {
    padding: 21px 8px 19px 46px; } }

/*Mobile*/
@media screen and (max-width: 720px) {
  .header-main__menu {
    position: relative;
    max-width: 320px; }
  .header-main__menu__ul {
    display: none; }
  .header-main__menu__ul__mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 154px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none; }
  .header-main__menu__li__mobile {
    padding: 10px 10px 10px 20px;
    border: 1px solid #cccccc;
    background-color: #ebe7df; }
  .header-main__menu__a__mobile {
    color: #242424;
    font-family: "Aller-Regular", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400; }
    .header-main__menu__a__mobile:hover {
      color: #57c5a0;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .header-main__menu__ul__mobile__box {
    width: 77px;
    height: 60px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    position: relative; }
    .header-main__menu__ul__mobile__box::before {
      content: '';
      display: block;
      background-image: url("../../images/icons/menu_icon.png");
      background-repeat: no-repeat;
      width: 20px;
      height: 15px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
    .header-main__menu__ul__mobile__box:hover .header-main__menu__ul__mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .header-main__menu__search__mobile {
    width: 70px;
    height: 60px;
    border-right: 1px solid #cccccc;
    position: relative; }
    .header-main__menu__search__mobile::before {
      content: '';
      display: block;
      background-image: url("../../images/icons/menu_search_icon_mobile.png");
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
    .header-main__menu__search__mobile:hover::before {
      background-image: url("../../images/icons/menu_search_icon_mobile_active.png"); } }

/*Homepage picture*/
.header-main__home {
  background-color: #efece7; }

.header-main__home-wrapper {
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-main__home-wrapper__image {
  -webkit-transform: translateX(-75px);
  -ms-transform: translateX(-75px);
  transform: translateX(-75px); }

.header-main__home-wrapper__description {
  max-width: 384px;
  width: 100%;
  padding-top: 54px;
  -webkit-transform: translateX(-35px);
  -ms-transform: translateX(-35px);
  transform: translateX(-35px); }

.header-main__home-wrapper__description__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-main__home-wrapper__description__price {
  max-width: 68px;
  width: 100%;
  max-height: 67px;
  background-color: #57c5a0;
  color: #ffffff;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 17px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 22px; }

.header-main__home-wrapper__description__title {
  max-width: 290px;
  width: 100%;
  color: #242424;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 13px; }

.header-main__home-wrapper__description__text {
  max-width: 371px;
  width: 100%;
  color: #242424;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 15px; }

.header-main__home-wrapper__description-bar {
  max-width: 166px;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: none; }

.header-main__home-wrapper__description-bar__a {
  max-width: 40px;
  width: 100%;
  min-height: 40px;
  background-color: #ffffff;
  position: relative; }
  .header-main__home-wrapper__description-bar__a:nth-child(1)::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/eye_icon.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .header-main__home-wrapper__description-bar__a:nth-child(1):hover::before {
    background-image: url("../../images/icons/eye_icon_active.png");
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .header-main__home-wrapper__description-bar__a:nth-child(2)::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/star_icon.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .header-main__home-wrapper__description-bar__a:nth-child(2):hover::before {
    background-image: url("../../images/icons/star_icon_active.png");
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .header-main__home-wrapper__description-bar__a:nth-child(3)::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/share_icon.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .header-main__home-wrapper__description-bar__a:nth-child(3):hover::before {
    background-image: url("../../images/icons/share_icon_active.png");
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .header-main__home-wrapper__description-bar__a:nth-child(4)::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/cart_icon.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .header-main__home-wrapper__description-bar__a:nth-child(4):hover::before {
    background-image: url("../../images/icons/cart_icon_active.png");
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

/*Tablet*/
@media screen and (max-width: 960px) {
  .header-main__home-wrapper {
    display: -webkit-box; }
  .header-main__home-wrapper__image {
    -webkit-transform: translateX(-130px);
    -ms-transform: translateX(-130px);
    transform: translateX(-130px); }
  .header-main__home-wrapper__description {
    -webkit-transform: translateX(-415px);
    -ms-transform: translateX(-415px);
    transform: translateX(-415px); } }

/*Mobile*/
@media screen and (max-width: 720px) {
  .header-main__home-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header-main__home-wrapper__image {
    width: 443px;
    height: 293px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-55%);
    -ms-transform: translateX(-55%);
    transform: translateX(-55%); }
  .header-main__home-wrapper__description {
    max-width: 320px;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    padding-top: 19px;
    padding-left: 10px; }
  .header-main__home-wrapper__description__text {
    width: 315px;
    height: 56px;
    color: #242424;
    font-family: "Aller-Regular", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 29px; }
  .header-main__home-wrapper__description-bar {
    margin-bottom: 15px; } }

/*Shop filter*/
.shop-filter__main {
  background-color: #2e2e2e;
  padding: 15px 0; }

.shop-filter__main__wrapper {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.shop-filter__main__title {
  max-width: 85px;
  width: 100%;
  color: #ffffff;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.55px;
  margin-right: 88px;
  padding-left: 72px; }

.shop-filter__main__wrapper__box {
  max-width: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.shop-filter__main__wrapper__box__bar__subMenu__curtain {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 1; }

.shop-filter__main__wrapper__box__relative {
  position: relative; }

.shop-filter__main__wrapper__box__bar {
  min-width: 220px;
  width: 100%;
  min-height: 60px;
  height: 100%;
  background-color: #242424;
  color: #ffffff;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer; }
  .shop-filter__main__wrapper__box__bar:hover {
    color: #57c5a0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .shop-filter__main__wrapper__box__bar::after {
    content: '';
    display: block;
    background-image: url("../../images/icons/filter_icon.png");
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    position: absolute;
    top: 23px;
    right: 22px; }

.shop-filter__main__wrapper__box__bar__subMenu__brands {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1; }

.shop-filter__main__wrapper__box__bar__subMenu__categories {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1; }

.shop-filter__main__wrapper__box__bar__subMenu__price {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1; }

.shop-filter__main__wrapper__box__bar__subMenu__li {
  width: 220px;
  height: 50px;
  background-color: #242424;
  border-bottom: 1px solid #cccccc;
  color: #ffffff;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.45px;
  text-align: center;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer; }
  .shop-filter__main__wrapper__box__bar__subMenu__li:nth-child(1) {
    border-top: 1px solid #cccccc; }
  .shop-filter__main__wrapper__box__bar__subMenu__li:hover {
    color: #57c5a0; }

/*Products*/
.products-main {
  background-color: #ebe7df; }

.products-main__wrapper {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  padding-top: 29px;
  border-bottom: 1px solid #bcb5a7; }

/*Products, New arrivals*/
/*Products, Best sellers*/
.products-main__wrapper__arrivals,
.products-main__wrapper__best-sellers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 28px; }

.products-main__wrapper__arrivals__text,
.products-main__wrapper__best-sellers__text {
  max-width: 315px;
  width: 100%;
  color: #242424;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 25px;
  font-weight: 300; }

.products-main__wrapper__arrivals__button,
.products-main__wrapper__best-sellers__button {
  color: #bcb5a7;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.35px;
  max-width: 100px;
  width: 100%;
  max-height: 30px;
  border: 1px solid #bcb5a7;
  background-color: #ebe7df;
  cursor: pointer; }
  .products-main__wrapper__arrivals__button:hover,
  .products-main__wrapper__best-sellers__button:hover {
    color: #ffffff;
    background-color: #2e2e2e;
    -webkit-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s; }

.products-main__wrapper__arrivals-shoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 35px; }

.products-main__wrapper__best-sellers-shoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 46px; }

.products-main__wrapper__arrivals-shoes__box,
.products-main__wrapper__best-sellers-shoes__box {
  position: relative; }

.products-main__wrapper__arrivals-shoes__price,
.products-main__wrapper__best-sellers-shoes__price {
  width: 68px;
  height: 67px;
  background-color: #57c5a0;
  position: absolute;
  bottom: 0;
  left: 12px;
  z-index: 2;
  color: #ffffff;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.products-main__wrapper__arrivals-shoes__image,
.products-main__wrapper__best-sellers-shoes__image {
  display: block;
  background-color: #ffffff; }

.products-main__wrapper__arrivals-shoes__text,
.products-main__wrapper__best-sellers-shoes__text {
  max-width: 300px;
  width: 100%;
  max-height: 49px;
  height: 100%;
  -webkit-box-shadow: inset 0 1px 0 #cccccc;
  box-shadow: inset 0 1px 0 #cccccc;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #242424;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.45px;
  padding-left: 93px;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.products-main__wrapper__arrivals-shoes__text__tablet,
.products-main__wrapper__best-sellers-shoes__text__tablet {
  max-width: 300px;
  width: 100%;
  max-height: 49px;
  height: 100%;
  -webkit-box-shadow: inset 0 1px 0 #cccccc;
  box-shadow: inset 0 1px 0 #cccccc;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #242424;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.45px;
  padding-left: 85px;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.products-main__wrapper__arrivals-shoes__sale,
.products-main__wrapper__best-sellers-shoes__sale {
  max-width: 68px;
  width: 100%;
  max-height: 67px;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #242424;
  color: #ffffff;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 13px; }

.products-main__wrapper__arrivals-shoes__stock,
.products-main__wrapper__best-sellers-shoes__stock {
  max-width: 68px;
  width: 100%;
  max-height: 67px;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f27e4b;
  color: #ffffff;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 13px; }

.products-main__wrapper__arrivals-shoes__toolBar {
  width: 300px;
  height: 49px;
  -webkit-box-shadow: inset 0 1px 0 #cccccc;
  box-shadow: inset 0 1px 0 #cccccc;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  font-size: 0;
  opacity: 0; }

.products-main__wrapper__best-sellers-shoes__toolBar {
  width: 300px;
  height: 49px;
  -webkit-box-shadow: inset 0 1px 0 #cccccc;
  box-shadow: inset 0 1px 0 #cccccc;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  font-size: 0;
  opacity: 0; }

.products-main__wrapper__arrivals-shoes__box:hover .products-main__wrapper__arrivals-shoes__toolBar {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 1; }

.products-main__wrapper__best-sellers-shoes__box:hover .products-main__wrapper__best-sellers-shoes__toolBar {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 1; }

.products-main__wrapper__arrivals-shoes__toolBar__eye,
.products-main__wrapper__best-sellers-shoes__toolBar__eye {
  background-image: url("../../images/icons/eye_icon.png");
  width: 42px;
  height: 49px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center; }
  .products-main__wrapper__arrivals-shoes__toolBar__eye:hover,
  .products-main__wrapper__best-sellers-shoes__toolBar__eye:hover {
    background-image: url("../../images/icons/eye_icon_active.png");
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.products-main__wrapper__arrivals-shoes__toolBar__star,
.products-main__wrapper__best-sellers-shoes__toolBar__star {
  background-image: url("../../images/icons/star_icon.png");
  width: 42px;
  height: 49px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center; }
  .products-main__wrapper__arrivals-shoes__toolBar__star:hover,
  .products-main__wrapper__best-sellers-shoes__toolBar__star:hover {
    background-image: url("../../images/icons/star_icon_active.png");
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.products-main__wrapper__arrivals-shoes__toolBar__share,
.products-main__wrapper__best-sellers-shoes__toolBar__share {
  background-image: url("../../images/icons/share_icon.png");
  width: 42px;
  height: 49px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center; }
  .products-main__wrapper__arrivals-shoes__toolBar__share:hover,
  .products-main__wrapper__best-sellers-shoes__toolBar__share:hover {
    background-image: url("../../images/icons/share_icon_active.png");
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.products-main__wrapper__arrivals-shoes__toolBar__cart,
.products-main__wrapper__best-sellers-shoes__toolBar__cart {
  background-image: url("../../images/icons/cart_icon.png");
  width: 42px;
  height: 49px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
  margin-right: 27px; }
  .products-main__wrapper__arrivals-shoes__toolBar__cart:hover,
  .products-main__wrapper__best-sellers-shoes__toolBar__cart:hover {
    background-image: url("../../images/icons/cart_icon_active.png");
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

/*Tablet*/
@media screen and (max-width: 960px) {
  .products-main__wrapper {
    max-width: 711px;
    border: 0; }
  .products-main__wrapper__arrivals-shoes,
  .products-main__wrapper__best-sellers-shoes {
    max-width: 700px; }
  .products-main__wrapper__arrivals-shoes__image,
  .products-main__wrapper__best-sellers-shoes__image {
    width: 220px;
    height: 270px; }
  .products-main__wrapper__arrivals-shoes__toolBar,
  .products-main__wrapper__best-sellers-shoes__toolBar {
    max-width: 220px; }
  .products-main__wrapper__arrivals-shoes__toolBar__cart,
  .products-main__wrapper__best-sellers-shoes__toolBar__cart {
    margin-right: 0; }
  .products-main__wrapper__arrivals-shoes__toolBar__eye,
  .products-main__wrapper__arrivals-shoes__toolBar__star,
  .products-main__wrapper__arrivals-shoes__toolBar__share,
  .products-main__wrapper__arrivals-shoes__toolBar__cart,
  .products-main__wrapper__best-sellers-shoes__toolBar__eye,
  .products-main__wrapper__best-sellers-shoes__toolBar__star,
  .products-main__wrapper__best-sellers-shoes__toolBar__share,
  .products-main__wrapper__best-sellers-shoes__toolBar__cart {
    width: 35px; } }

/*Mobile*/
@media screen and (max-width: 720px) {
  .products-main__wrapper {
    max-width: 320px;
    padding-left: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .products-main__wrapper__arrivals-shoes__box:nth-child(1) {
    display: none; }
  .products-main__wrapper__arrivals-shoes__box:nth-child(3) {
    display: none; }
  .products-main__wrapper__arrivals__button,
  .products-main__wrapper__best-sellers__button {
    margin-right: 10px; }
  .products-main__wrapper__best-sellers-shoes__box:nth-child(1) {
    display: none; }
  .products-main__wrapper__best-sellers-shoes__box:nth-child(2) {
    display: none; } }

/*News*/
.news-main {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  padding-top: 26px; }

.news-main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 23px; }

.news-main__shipping,
.news-main__testimonials {
  max-width: 220px;
  width: 100%;
  background-color: #dfdbd4;
  padding: 32px 0 18px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.news-main__shipping__title,
.news-main__testimonials__title {
  max-width: 97px;
  width: 100%;
  color: #242424;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 17px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.news-main__shipping__text {
  max-width: 178px;
  width: 100%;
  color: #242424;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; }

.news-main__testimonials__text {
  max-width: 176px;
  width: 100%;
  color: #242424;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 10px; }

.news-main__testimonials__text__p {
  color: #242424;
  font-family: "Aller-Italic", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; }

/*Tablet*/
@media screen and (max-width: 960px) {
  .news-main {
    max-width: 700px; }
  .news-main__shipping {
    display: none; } }

/*Mobile*/
@media screen and (max-width: 720px) {
  .news-main {
    max-width: 320px;
    padding: 0 10px; }
  .news-main__testimonials {
    display: none; } }

/*Blog news*/
.news-main__blog {
  max-width: 460px;
  width: 100%;
  background-color: #dfdbd4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 32px 0 0 18px; }

.news-main__blog__title {
  max-width: 78px;
  width: 100%;
  color: #242424;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 21px; }

.news-main__blog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px; }

.news-main__blog__wrapper__date {
  max-width: 36px;
  width: 100%;
  min-height: 36px;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #57c5a0;
  color: #ffffff;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 9px; }

.news-main__blog__wrapper__information {
  padding-top: 4px; }

.news-main__blog__wrapper__information__title {
  max-width: 354px;
  width: 100%;
  color: #242424;
  font-family: "Aller-Bold", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px; }

.news-main__blog__wrapper__information__text {
  max-width: 354px;
  width: 100%;
  color: #242424;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; }

/*Mobile*/
@media screen and (max-width: 720px) {
  .news-main__blog {
    max-width: 300px; } }

/*Footer*/
.footer-main {
  background-color: #242424;
  border-bottom: 1px solid #1c1c1c; }

/*Text wrapper*/
.footer-main__wrapper {
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 51px; }

.footer-main__wrapper__text {
  max-width: 254px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.footer-main__wrapper__text__title {
  color: #7d7d7d;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 24px; }

.footer-main__wrapper__text__info {
  max-width: 254px;
  width: 100%;
  color: #a4a4a4;
  font-family: "Aller-Italic", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-align: justify; }

/*Twitter wrapper*/
.footer-main__wrapper__twitter {
  max-width: 251px;
  width: 100%; }

.footer-main__wrapper__twitter__title {
  max-width: 111px;
  width: 100%;
  color: #7d7d7d;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 23px; }

.footer-main__wrapper__twitter__box {
  margin-bottom: 21px; }

/*Flickr wrapper*/
.footer-main__wrapper__flickr {
  max-width: 244px;
  width: 100%; }

.footer-main__wrapper__flickr__title {
  max-width: 98px;
  width: 100%;
  color: #7d7d7d;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 21px; }

.footer-main__wrapper__flickr__box {
  max-width: 244px;
  width: 100%;
  max-height: 121px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.footer-main__wrapper__flickr__img {
  background-color: #8f765f;
  margin-bottom: 5px;
  cursor: pointer; }

.flickr__image__bar__curtain {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #4c4c4c;
  opacity: 0.5;
  z-index: 3; }

.footer-main__wrapper__flickr__img__big {
  width: 760px;
  height: 560px;
  z-index: 4;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

/*Tablet*/
@media screen and (max-width: 960px) {
  .footer-main__wrapper {
    max-width: 700px; }
  .footer-main__wrapper__twitter {
    display: none; } }

/*Mobile*/
@media screen and (max-width: 720px) {
  .footer-main__wrapper {
    max-width: 320px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer-main__wrapper__text {
    display: none; }
  .footer-main__wrapper__flickr {
    margin-bottom: 15px; } }

/*Social network*/
.footer-main__social {
  background-color: #242424; }

.footer-main__social__wrapper {
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 37px;
  padding-bottom: 45px; }

.footer-main__social__wrapper__email {
  max-width: 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer-main__social__wrapper__email__input {
  min-width: 214px;
  min-height: 36px;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2e2e2e;
  border: 0;
  outline: 0;
  color: #7d7d7d;
  font-family: "Aller-Italic", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  padding: 0 0 0 14px; }
  .footer-main__social__wrapper__email__input::-webkit-input-placeholder {
    color: #7d7d7d;
    font-family: "Aller-Italic", Arial, sans-serif;
    font-size: 12px;
    line-height: 18px; }
  .footer-main__social__wrapper__email__input:-ms-input-placeholder {
    color: #7d7d7d;
    font-family: "Aller-Italic", Arial, sans-serif;
    font-size: 12px;
    line-height: 18px; }
  .footer-main__social__wrapper__email__input::-ms-input-placeholder {
    color: #7d7d7d;
    font-family: "Aller-Italic", Arial, sans-serif;
    font-size: 12px;
    line-height: 18px; }
  .footer-main__social__wrapper__email__input::placeholder {
    color: #7d7d7d;
    font-family: "Aller-Italic", Arial, sans-serif;
    font-size: 12px;
    line-height: 18px; }

.footer-main__social__wrapper__email__button {
  max-width: 36px;
  width: 100%;
  max-height: 36px;
  background-color: #7d7d7d;
  outline: 0;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer; }

.footer-main__social__wrapper__network {
  max-width: 216px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer-main__social__wrapper__network__facebook {
  max-width: 36px;
  width: 100%;
  min-height: 36px;
  background-color: #2e2e2e;
  position: relative; }
  .footer-main__social__wrapper__network__facebook::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/facebook_icon.png");
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .footer-main__social__wrapper__network__facebook:hover::before {
    background-image: url("../../images/icons/facebook_icon_active.png");
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.footer-main__social__wrapper__network__twitter {
  max-width: 36px;
  width: 100%;
  min-height: 36px;
  background-color: #2e2e2e;
  position: relative; }
  .footer-main__social__wrapper__network__twitter::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/twitter_icon.png");
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .footer-main__social__wrapper__network__twitter:hover::before {
    background-image: url("../../images/icons/twitter_icon_active.png");
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.footer-main__social__wrapper__network__gplus {
  max-width: 36px;
  width: 100%;
  min-height: 36px;
  background-color: #2e2e2e;
  position: relative; }
  .footer-main__social__wrapper__network__gplus::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/gplus_icon.png");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .footer-main__social__wrapper__network__gplus:hover::before {
    background-image: url("../../images/icons/gplus_icon_active.png");
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.footer-main__social__wrapper__network__linkedin {
  max-width: 36px;
  width: 100%;
  min-height: 36px;
  background-color: #2e2e2e;
  position: relative; }
  .footer-main__social__wrapper__network__linkedin::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/linkedin_icon.png");
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .footer-main__social__wrapper__network__linkedin:hover::before {
    background-image: url("../../images/icons/linkedin_icon_active.png");
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.footer-main__social__wrapper__network__flickr {
  max-width: 36px;
  width: 100%;
  min-height: 36px;
  background-color: #2e2e2e;
  position: relative; }
  .footer-main__social__wrapper__network__flickr::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/flickr_icon.png");
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .footer-main__social__wrapper__network__flickr:hover::before {
    background-image: url("../../images/icons/flickr_icon_active.png");
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

/*Tablet*/
@media screen and (max-width: 960px) {
  .footer-main__social__wrapper {
    max-width: 700px; } }

/*Mobile*/
@media screen and (max-width: 720px) {
  .footer-main__social__wrapper__email {
    margin-bottom: 15px; }
  .footer-main__social__wrapper {
    max-width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer-main__social__wrapper__network {
    max-width: 250px; } }

/*Copyright*/
.footer-main__copyright {
  background-color: #2e2e2e; }

.footer-main__copyright__wrapper {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  padding-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer-main__copyright__text {
  max-width: 178px;
  width: 100%;
  opacity: 0.5;
  color: #ffffff;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  margin-bottom: 31px; }

.footer-main__copyright__ul {
  max-width: 332px;
  width: 100%;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer-main__copyright__li {
  position: relative; }
  .footer-main__copyright__li::after {
    content: "/";
    display: block;
    position: absolute;
    top: 3px;
    right: -8px;
    opacity: 0.5;
    color: #ffffff;
    font-family: "Aller-Regular", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px; }
  .footer-main__copyright__li:nth-child(5)::after {
    content: "";
    display: none; }

.footer-main__copyright__a {
  opacity: 0.5;
  color: #ffffff;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px; }
  .footer-main__copyright__a:hover {
    color: #57c5a0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 1; }

/*Tablet*/
@media screen and (max-width: 960px) {
  .footer-main__copyright__wrapper {
    max-width: 700px; } }

/*Mobile*/
@media screen and (max-width: 720px) {
  .footer-main__copyright__wrapper {
    max-width: 320px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .footer-main__copyright__ul {
    display: none; } }
