/*fonts*/
@font-face {
  font-family: "ST-Heiti-TC";
  src: url("../../fonts/ST-Heiti-TC-Medium.ttf"); }

@font-face {
  font-family: "Aller-Bold";
  src: url("../../fonts/aller.bold.ttf"); }

@font-face {
  font-family: "Aller-Italic";
  src: url("../../fonts/aller.italic.ttf"); }

@font-face {
  font-family: "Aller-Regular";
  src: url("../../fonts/aller.regular.ttf"); }

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../../fonts/MyriadPro-Regular.ttf"); }

/*scss fonts*/
/*scss colors*/
/*Mixins*/
/*reset classes*/
.a, .ul, .li, .h1, .h2, .h3, .h4, .p, .img {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

.button {
  outline: 0;
  border: none;
  padding: 0;
  margin: 0; }

/*css classes*/
.header-main {
  background-color: #242424; }

.header-main__black {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header-main__black__logo {
  color: #57c5a0;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 12px 0 13px 0; }

.header-main__black__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-main__black__wrapper__search {
  background-color: #242424;
  position: relative;
  border-left: 1px solid #393939;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-main__black__wrapper__search:before {
    content: "";
    display: block;
    background-image: url("../../images/icons/header_search_icon.png");
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    right: 23px; }

.header-main__black__wrapper__search__ul {
  display: none;
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 1;
  max-width: 172px;
  width: 100%; }

.header-main__black__wrapper__search__li {
  max-height: 32px;
  height: 100%;
  background-color: #4c4c4c;
  color: #aaaaaa;
  font-family: "MyriadPro-Regular", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 12px 0 11px 23px; }
  .header-main__black__wrapper__search__li:nth-child(2) {
    border-top: 1px solid #666464; }

.header-main__black__wrapper__search:hover .header-main__black__wrapper__search__ul {
  display: block; }

.header-main__black__wrapper__search__input {
  max-width: 113px;
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #b1aeae;
  font-family: "MyriadPro-Regular", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 0 38px 0 17px; }
  .header-main__black__wrapper__search__input::-webkit-input-placeholder {
    color: #b1aeae;
    font-family: "MyriadPro-Regular", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1.2px; }
  .header-main__black__wrapper__search__input:-ms-input-placeholder {
    color: #b1aeae;
    font-family: "MyriadPro-Regular", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1.2px; }
  .header-main__black__wrapper__search__input::-ms-input-placeholder {
    color: #b1aeae;
    font-family: "MyriadPro-Regular", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1.2px; }
  .header-main__black__wrapper__search__input::placeholder {
    color: #b1aeae;
    font-family: "MyriadPro-Regular", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1.2px; }

.header-main__black__login {
  max-width: 140px;
  width: 100%;
  border-left: 1px solid #393939;
  border-right: 1px solid #393939;
  background-color: #242424;
  color: #7e7e7e;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 25px;
  cursor: pointer;
  padding: 0 21px; }

.header-main__menu {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header-main__menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 555px;
  width: 100%; }

.header-main__menu__li {
  padding: 23px 23px 20px 23px;
  border-left: 1px solid #cccccc; }
  .header-main__menu__li:nth-child(1) {
    letter-spacing: 0.4px; }
  .header-main__menu__li:nth-child(6) {
    border-right: 1px solid #cccccc; }

.header-main__menu__a {
  color: #242424;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400; }
  .header-main__menu__a:hover {
    color: #57c5a0; }

.header-main__menu__counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-main__menu__counters__favorites {
  max-width: 90px;
  width: 100%;
  padding: 21px 24px 19px 46px;
  border-left: 1px solid #cccccc;
  cursor: pointer;
  position: relative; }
  .header-main__menu__counters__favorites::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/star_icon.png");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    position: absolute;
    top: 23px;
    left: 23px; }
  .header-main__menu__counters__favorites:hover::before {
    background-image: url("../../images/icons/star_icon_active.png"); }

.header-main__menu__counters__text {
  min-width: 20px;
  max-height: 20px;
  height: 100%;
  color: #ffffff;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  background-color: #adadad;
  text-align: center;
  border-radius: 5px; }

.header-main__menu__counters__cart {
  max-width: 90px;
  width: 100%;
  padding: 21px 24px 19px 46px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  cursor: pointer;
  position: relative; }
  .header-main__menu__counters__cart::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/cart_icon.png");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    position: absolute;
    top: 23px;
    left: 23px; }
  .header-main__menu__counters__cart:hover::before {
    background-image: url("../../images/icons/cart_icon_active.png"); }
  .header-main__menu__counters__cart .header-main__menu__counters__text {
    background-color: #57c5a0; }

.header-main__home {
  background-color: #efece7; }

.header-main__home-wrapper {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-main__home-wrapper__description {
  max-width: 384px;
  width: 100%;
  padding-top: 70px;
  -webkit-transform: translateX(-28px);
  -ms-transform: translateX(-28px);
  transform: translateX(-28px); }

.header-main__home-wrapper__description__price {
  max-width: 68px;
  width: 100%;
  min-height: 67px;
  background-color: #57c5a0;
  color: #ffffff;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 17px; }

.header-main__home-wrapper__description__title {
  max-width: 290px;
  width: 100%;
  color: #242424;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 13px; }

.header-main__home-wrapper__description__text {
  max-width: 371px;
  width: 100%;
  color: #242424;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 15px; }

.header-main__home-wrapper__description-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 166px;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header-main__home-wrapper__description-bar__a {
  max-width: 40px;
  width: 100%;
  min-height: 40px;
  background-color: #ffffff;
  position: relative; }
  .header-main__home-wrapper__description-bar__a:nth-child(1)::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/eye_icon.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .header-main__home-wrapper__description-bar__a:nth-child(1):hover::before {
    background-image: url("../../images/icons/eye_icon_active.png"); }
  .header-main__home-wrapper__description-bar__a:nth-child(2)::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/star_icon.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .header-main__home-wrapper__description-bar__a:nth-child(2):hover::before {
    background-image: url("../../images/icons/star_icon_active.png"); }
  .header-main__home-wrapper__description-bar__a:nth-child(3)::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/share_icon.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .header-main__home-wrapper__description-bar__a:nth-child(3):hover::before {
    background-image: url("../../images/icons/share_icon_active.png"); }
  .header-main__home-wrapper__description-bar__a:nth-child(4)::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/cart_icon.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .header-main__home-wrapper__description-bar__a:nth-child(4):hover::before {
    background-image: url("../../images/icons/cart_icon_active.png"); }

.slider-main__home {
  background-color: #2e2e2e;
  padding-top: 6px;
  padding-bottom: 9px; }

.slider-main__home__wrapper {
  max-width: 572px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.slider-main__home__wrapper__pink-shoes__head,
.slider-main__home__wrapper__anna-field__head,
.slider-main__home__wrapper__prada__head {
  min-width: 196px;
  width: 100%;
  min-height: 10px;
  background-color: #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 16px; }

.slider-main__home__wrapper__pink-shoes__head {
  padding: 2px 5px 2px 10px; }

.slider-main__home__wrapper__anna-field__head {
  padding: 2px 5px 2px 5px; }

.slider-main__home__wrapper__prada__head {
  padding: 2px 10px 2px 5px; }

.slider-main__home__wrapper__pink-shoes__head__active,
.slider-main__home__wrapper__anna-field__head__active,
.slider-main__home__wrapper__prada__head__active {
  min-width: 180px;
  width: 100%;
  min-height: 6px;
  background-color: #57c5a0;
  display: none; }

.slider-main__home__wrapper__pink-shoes__head__active {
  display: block; }

.slider-main__home__wrapper__pink-shoes__title,
.slider-main__home__wrapper__anna-field__title,
.slider-main__home__wrapper__prada__title {
  text-align: center;
  opacity: 0.5;
  color: #ffffff;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.slider-main__home__wrapper__pink-shoes__title__active {
  opacity: 1; }

.slider-main__home__wrapper__pink-shoes__text,
.slider-main__home__wrapper__anna-field__text,
.slider-main__home__wrapper__prada__text {
  text-align: center;
  opacity: 0.5;
  color: #adadad;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.3px; }

.slider-main__home__wrapper__pink-shoes__text__active {
  opacity: 1; }

.specials-main {
  background-color: #242424; }

.specials-main__wrapper {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px; }

.specials-main__wrapper__a {
  position: relative; }

.specials-main__wrapper__img-on-sale {
  background-color: #563728; }

.specials-main__wrapper__img-special-offer {
  background-color: #5b6269; }

.specials-main__wrapper__img-must-have {
  background-color: #c9cac5; }

.specials-main__wrapper__text {
  background-color: #242424;
  opacity: 0.85;
  color: #ffffff;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 60px;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }
  .specials-main__wrapper__text:hover {
    color: #57c5a0; }

.specials-main__wrapper__text__on-sale,
.specials-main__wrapper__text__must-have {
  max-width: 180px;
  width: 100%;
  min-height: 60px; }

.specials-main__wrapper__text__special-offer {
  max-width: 230px;
  width: 100%;
  min-height: 60px; }

.products-main {
  background-color: #ebe7df;
  height: 1000px; }

.products-main__wrapper {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  padding-top: 29px; }

.products-main__wrapper__arrivals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 28px; }

.products-main__wrapper__arrivals__text {
  max-width: 315px;
  width: 100%;
  color: #242424;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 25px;
  font-weight: 300; }

.products-main__wrapper__arrivals__button {
  color: #bcb5a7;
  font-family: "Aller-Regular", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.35px;
  max-width: 100px;
  width: 100%;
  max-height: 30px;
  border: 1px solid #bcb5a7;
  background-color: #ebe7df;
  cursor: pointer; }
  .products-main__wrapper__arrivals__button:hover {
    color: #ffffff;
    background-color: #2e2e2e; }

.products-main__wrapper__arrivals-shoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.products-main__wrapper__arrivals-shoes__image-first {
  position: relative; }
