/*fonts*/
@font-face {
  font-family: "ST-Heiti-TC";
  src: url("../../fonts/ST-Heiti-TC-Medium.ttf");
}
@font-face {
  font-family: "Aller-Bold";
  src: url("../../fonts/aller.bold.ttf");
}
@font-face {
  font-family: "Aller-Italic";
  src: url("../../fonts/aller.italic.ttf");
}
@font-face {
  font-family: "Aller-Regular";
  src: url("../../fonts/aller.regular.ttf");
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../../fonts/MyriadPro-Regular.ttf");
}

/*scss fonts*/
$heiti-font: "ST-Heiti-TC", Arial, sans-serif;
$aller-bold-font: "Aller-Bold", Arial, sans-serif;
$aller-italic-font: "Aller-Italic", Arial, sans-serif;
$aller-regular: "Aller-Regular", Arial, sans-serif;
$myriadPro-font: "MyriadPro-Regular", Arial, sans-serif;

/*scss colors*/
$main-black-color: #242424;
$main-beige-color: #efece7;
$main-grey-color: #4c4c4c;
$main-green-color: #57c5a0;
$second-beige-color: #ebe7df;
$second-grey-color: #2e2e2e;


/*Mixins*/


/*reset classes*/
.a, .ul, .li, .h1, .h2, .h3, .h4, .p, .img {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.button {
  outline: 0;
  border: none;
  padding: 0;
  margin: 0;
}

/*css classes*/
.header-main {
  background-color: $main-black-color;
}
.header-main__black {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header-main__black__logo {
  color: $main-green-color;
  font-family: $aller-regular;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 12px 0 13px 0;
}
.header-main__black__wrapper {
  display: flex;
}
.header-main__black__wrapper__search {
  background-color: $main-black-color;
  position:relative;
  border-left: 1px solid #393939;
  display: flex;
  align-items: center;
  &:before{
    content: "";
    display: block;
    background-image: url("../../images/icons/header_search_icon.png");
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    right: 23px;
  }
}
.header-main__black__wrapper__search__ul {
  display: none;
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 1;
  max-width: 172px;
  width: 100%;
}
.header-main__black__wrapper__search__li {
  max-height: 32px;
  height: 100%;
  background-color: #4c4c4c;
  color: #aaaaaa;
  font-family: $myriadPro-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 12px 0 11px 23px;
  &:nth-child(2) {
    border-top: 1px solid #666464;
  }
}
.header-main__black__wrapper__search:hover .header-main__black__wrapper__search__ul{
  display: block;
}
.header-main__black__wrapper__search__input {
  max-width: 113px;
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #b1aeae;
  font-family: $myriadPro-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 0 38px 0 17px;
  &::placeholder {
    color: #b1aeae;
    font-family: $myriadPro-font;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
}
.header-main__black__login {
  max-width: 140px;
  width: 100%;
  border-left: 1px solid #393939;
  border-right: 1px solid #393939;
  background-color: $main-black-color;
  color: #7e7e7e;
  font-family: $aller-regular;
  font-size: 11px;
  font-weight: 400;
  line-height: 25px;
  cursor: pointer;
  padding: 0 21px;
}
.header-main__menu {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.header-main__menu__ul {
  display: flex;
  max-width: 555px;
  width: 100%;
}
.header-main__menu__li {
  padding: 23px 23px 20px 23px;
  border-left: 1px solid #cccccc;
  &:nth-child(1) {
    letter-spacing: 0.4px;
  }
  &:nth-child(6) {
    border-right: 1px solid #cccccc;
  }
}
.header-main__menu__a {
  color: #242424;
  font-family: $aller-regular;
  font-size: 16px;
  font-weight: 400;
  &:hover {
    color: $main-green-color;
  }
}
.header-main__menu__counters {
  display: flex;
}
.header-main__menu__counters__favorites {
  max-width: 90px;
  width: 100%;
  padding: 21px 24px 19px 46px;
  border-left: 1px solid #cccccc;
  cursor: pointer;
  position: relative;
  &::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/star_icon.png");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    position: absolute;
    top: 23px;
    left: 23px;
  }
  &:hover {
    &::before {
      background-image: url("../../images/icons/star_icon_active.png");
    }
  }
}
.header-main__menu__counters__text {
  min-width: 20px;
  max-height: 20px;
  height: 100%;
  color: #ffffff;
  font-family: $aller-regular;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  background-color: #adadad;;
  text-align: center;
  border-radius: 5px;
}
.header-main__menu__counters__cart {
  max-width: 90px;
  width: 100%;
  padding: 21px 24px 19px 46px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  cursor: pointer;
  position: relative;
  &::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/cart_icon.png");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    position: absolute;
    top: 23px;
    left: 23px;
  }
  &:hover {
    &::before {
      background-image: url("../../images/icons/cart_icon_active.png");
    }
  }
  .header-main__menu__counters__text {
    background-color: $main-green-color;
  }
}
.header-main__home {
  background-color: $main-beige-color;
}
.header-main__home-wrapper {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  display: flex;
}
.header-main__home-wrapper__image {}
.header-main__home-wrapper__description {
  max-width: 384px;
  width: 100%;
  padding-top: 70px;
  transform: translateX(-28px);
}
.header-main__home-wrapper__description__price {
  max-width: 68px;
  width: 100%;
  min-height: 67px;
  background-color: $main-green-color;
  color: #ffffff;
  font-family: $aller-regular;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 17px;
}
.header-main__home-wrapper__description__title {
  max-width: 290px;
  width: 100%;
  color: #242424;
  font-family: $aller-regular;
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 13px;
}
.header-main__home-wrapper__description__text {
  max-width: 371px;
  width: 100%;
  color: #242424;
  font-family: $aller-regular;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 15px;
}
.header-main__home-wrapper__description-bar {
  display: flex;
  max-width: 166px;
  width: 100%;
  justify-content: space-between;
}
.header-main__home-wrapper__description-bar__a {
  max-width: 40px;
  width: 100%;
  min-height: 40px;
  background-color: #ffffff;
  position: relative;
  &:nth-child(1)::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/eye_icon.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  &:nth-child(1):hover::before {
    background-image: url("../../images/icons/eye_icon_active.png");
  }
  &:nth-child(2)::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/star_icon.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  &:nth-child(2):hover::before {
    background-image: url("../../images/icons/star_icon_active.png");
  }
  &:nth-child(3)::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/share_icon.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  &:nth-child(3):hover::before {
    background-image: url("../../images/icons/share_icon_active.png");
  }
  &:nth-child(4)::before {
    content: "";
    display: block;
    background-image: url("../../images/icons/cart_icon.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  &:nth-child(4):hover::before {
    background-image: url("../../images/icons/cart_icon_active.png");
  }
}
.slider-main__home {
  background-color: $second-grey-color;
  padding-top: 6px;
  padding-bottom: 9px;
}
.slider-main__home__wrapper {
  max-width: 572px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.slider-main__home__wrapper__pink-shoes {

}
.slider-main__home__wrapper__pink-shoes__head,
.slider-main__home__wrapper__anna-field__head,
.slider-main__home__wrapper__prada__head {
  min-width: 196px;
  width: 100%;
  min-height: 10px;
  background-color: #000000;
  box-sizing: border-box;
  margin-bottom: 16px;
}
.slider-main__home__wrapper__pink-shoes__head {
  padding: 2px 5px 2px 10px;
}
.slider-main__home__wrapper__anna-field__head {
  padding: 2px 5px 2px 5px;
}
.slider-main__home__wrapper__prada__head {
  padding: 2px 10px 2px 5px;
}
.slider-main__home__wrapper__pink-shoes__head__active,
.slider-main__home__wrapper__anna-field__head__active,
.slider-main__home__wrapper__prada__head__active {
  min-width: 180px;
  width: 100%;
  min-height: 6px;
  background-color: #57c5a0;
  display: none;
}
.slider-main__home__wrapper__pink-shoes__head__active {
  display: block;
}
.slider-main__home__wrapper__anna-field__head__active {
  //display: block;
}
.slider-main__home__wrapper__prada__head__active {
  //display: block;
}
.slider-main__home__wrapper__pink-shoes__title,
.slider-main__home__wrapper__anna-field__title,
.slider-main__home__wrapper__prada__title {
  text-align: center;
  opacity: 0.5;
  color: #ffffff;
  font-family: $aller-regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.45px;
  display: flex;
  justify-content: center;
}
.slider-main__home__wrapper__pink-shoes__title__active {
  opacity: 1;
}
.slider-main__home__wrapper__anna-field__title__active {
  //opacity: 1;
}
.slider-main__home__wrapper__prada__title__active {
  //opacity: 1;
}
.slider-main__home__wrapper__pink-shoes__text,
.slider-main__home__wrapper__anna-field__text,
.slider-main__home__wrapper__prada__text {
  text-align: center;
  opacity: 0.5;
  color: #adadad;
  font-family: $aller-regular;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.3px;
}
.slider-main__home__wrapper__pink-shoes__text__active {
  opacity: 1;
}
.slider-main__home__wrapper__anna-field__text__active {
  //opacity: 1;
}
.slider-main__home__wrapper__prada__text__active {
  //opacity: 1;
}
.specials-main {
  background-color: $main-black-color;
}
.specials-main__wrapper {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}
.specials-main__wrapper__a {
  position: relative;
}
.specials-main__wrapper__img-on-sale {
  background-color: #563728;
}
.specials-main__wrapper__img-special-offer {
  background-color: #5b6269;
}
.specials-main__wrapper__img-must-have {
  background-color: #c9cac5;
}
.specials-main__wrapper__text {
  background-color: $main-black-color;
  opacity: 0.85;
  color: #ffffff;
  font-family: $aller-regular;
  font-size: 25px;
  font-weight: 300;
  line-height: 60px;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  &:hover {
    color: $main-green-color;
  }
}
.specials-main__wrapper__text__on-sale,
.specials-main__wrapper__text__must-have {
  max-width: 180px;
  width: 100%;
  min-height: 60px;
}
.specials-main__wrapper__text__special-offer {
  max-width: 230px;
  width: 100%;
  min-height: 60px;
}
.products-main {
  background-color: $second-beige-color;
  height: 1000px;
}
.products-main__wrapper {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  padding-top: 29px;
}
.products-main__wrapper__arrivals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}
.products-main__wrapper__arrivals__text {
  max-width: 315px;
  width: 100%;
  color: #242424;
  font-family: $aller-regular;
  font-size: 25px;
  font-weight: 300;
}
.products-main__wrapper__arrivals__button {
  color: #bcb5a7;
  font-family: $aller-regular;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.35px;
  max-width: 100px;
  width: 100%;
  max-height: 30px;
  border: 1px solid #bcb5a7;
  background-color: #ebe7df;
  cursor: pointer;
  &:hover {
    color: #ffffff;
    background-color: #2e2e2e;
  }
}
.products-main__wrapper__arrivals-shoes {
  display: flex;
  justify-content: space-between;
}
.products-main__wrapper__arrivals-shoes__a {
}
.products-main__wrapper__arrivals-shoes__image-first {
  position: relative;
}
.products-main__wrapper__arrivals-shoes__toolBar {
    //max-width: 300px;
    //width: 100%;
    //box-shadow: inset 0 1px 0 #cccccc;
    //background-color: #ffffff;
    //position: absolute;
    //bottom: 0;
    //left: 0;
}
.products-main__wrapper__arrivals-shoes__toolBar__li {
  //max-width: 42px;
  //width: 100%;
  //max-height: 49px;
  //height: 100%;
}
.products-main__wrapper__arrivals-shoes__toolBar__eye {
  //background-image: url("../../images/icons/eye_icon.png");
  //width: 16px;
  //height: 16px;
  //background-repeat: no-repeat;
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translateY(-50%) translateY(-50%);
}
.products-main__wrapper__arrivals-shoes__toolBar__star {}
.products-main__wrapper__arrivals-shoes__toolBar__share {}
.products-main__wrapper__arrivals-shoes__toolBar__cart {}


